/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header .container-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}

.header-nav .nav-items {
  display: flex;
  flex-direction: row;
}
.header-nav .nav-item {
  padding: 0.5rem;
  border: 1px solid #cccccc;
  margin-right: 0.5rem;
}
.courses {
  text-align: center;
  background-color: #cccccc;
}
.courses .container-courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.courses .course-pack {
  background-color: #cccccc;
  margin-bottom: 1rem;
}

.course {
  background-color: #ffffff;
  width: 150px;
  padding-bottom: 1rem;
  margin-top: 1rem;
}
.about {
  background-color: #5E9EDC;
  color: #ffffff;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.about .container-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about .about-video {
  width: 50%;
}

.about-benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 50%;
}
.about-benefits h3 {
  padding-bottom: 0.1rem;
  text-transform: uppercase;
}
.about-benefits p {
  padding-bottom: 0.3rem;
  text-transform: capitalize;
}
.about-benefits .btn-register {
  background-color: #EC6E5A;
  color: #ffffff;
}

.map {
  color: #ffffff;
  background-color: #324C64;
  margin-top: 1rem;
}
.map .map-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.map .map-title {
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.map-subtitle {
  padding-bottom: 0.5rem;
}

.map-backend h3 {
  color: #4DBA7A;
}

.map-front h3 {
  color: #5EC6F3;
}

.map-framework h3 {
  color: #AD85BF;
}

.map-database h3 {
  color: #EC6E5A;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  list-style: none;
  color: #000000;
}

.btn {
  text-transform: uppercase;
  border: none;
}

/*# sourceMappingURL=style.css.map */
