.courses {
  text-align: center;
  
  background-color: $c-gray-2;
  .container-courses {
    
  }
  .courses-header {
    text-align: left;
  }
}

.courses-box {
  background-color: $c-gray-2;
  .course-pack {

  }
}

.course{
  background-color: $c-white;
 
  @include device( phone ){
  
  }
  
  img{}
  h2 {}
}