.footer {
  background-color: $c-gray-2;
  .container {
    @include device( phone ){
      width: 100%;
    }
  }
  .container-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
    @include device( phone ){
      flex-direction: column;
    }
  }
}

.footer-sponsors {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 2;
  
}

.contact {
  @include device( phone ){
    padding-top: 0.5rem;
    text-align: center;
  }
  .contact-form {}
  .form-input {}
  .btn-contact {}
}
