@import "reset";
@import "variables";
@import "responsive";
@import "header";
@import "courses";
@import "about";
@import "map";

body {
  background-color: $c-white;
  font-family: $f-roboto;
  height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  list-style: none;
  color: $c-black;
}

.btn {
 text-transform: uppercase; 
 border: none;
}