@import "reset";
@import "variables";
@import "responsive";
@import "header";
@import "courses";

body {
  background-color: $c-white;
  height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  list-style: none;
  color: $c-black;
}