@import "reset";
@import "variables";
@import "responsive";
@import "header";
@import "courses";
@import "about";
@import "map";
@import "footer";

html {
  height: 100vh;
}
body {
  background-color: $c-white;
  font-family: $f-roboto;
  height: 100%;
  min-width: 376px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: map-get($f-font-size , "big");
}

h2 {
  font-size: map-get($f-font-size , "medium");
}

h3 {
  font-size: map-get($f-font-size , "small" );
}

a {
  text-decoration: none;
  list-style: none;
  color: $c-black;
}

.btn {
 text-transform: uppercase; 
 border: none;
}